    {% extends 'base.html.twig' %}
{% block body %}
<center>
<div class="d-flex align-items-center justify-content-center" style="height: 250px;"> </div>
<head>
	<title>Mon titre de page</title>
</head>
<body>
	<h1>Bienvenue admin AZIZ.</h1>
	<p>Vous voulez ajouter quelqu'un :</p>
</body>
{{form_start (form,{'attr': {'novalidate': 'novalidate '}} ) }}

<table>
<tr>
<td> {{ form_label( form.email, "email : ") }} </td>
<td> {{ form_widget(form.email) }} </td>
<td> {{ form_errors(form.email) }} </td>
</tr>
<tr>

<td> {{ form_label(form.password, "password : ") }} </td>
<td> {{ form_widget(form.password) }} </td>
<td> {{ form_errors(form.password) }} </td>
</tr>
<tr>
<td> {{ form_label(form.nom, "nom : ") }} </td>
<td> {{ form_widget(form.nom) }} </td>
<td> {{ form_errors(form.nom) }} </td>
</tr>
<tr>
<td> {{ form_label(form.prenom, "prenom: ") }} </td>
<td> {{ form_widget(form.prenom) }} </td>
<td> {{ form_errors(form.prenom) }} </td>
</tr>
<tr>
<td> {{ form_label(form.role, "role :  ") }} </td>
<td> {{ form_widget(form.role) }} </td>
<td> {{ form_errors(form.role) }} </td>
</tr>
</table>
 <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" _msttexthash="499135" _msthash="115"{{ button_label|default('Save') }}>create</button>
           

     </div>

                 
{{ form_end(form) }}
</center>
{% endblock %}

    
    
    